<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Spittles</title>
</head>
<body>

	<p th:text=${spitter}>Spittles for Spitter.</p>
	
	<table>
	
		<tr>
			<th> Message</th>
			<th>Date stamp</th>
		</tr>
		
		<tr th:each="spittle:${spittles}">
			<td th:text=${spittle.getMessage()}/>
			<td th:text=${spittle.getTime()}/>
		</tr>
	
	</table>
	
	

</body>
</html>